<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <div style='padding:20px;margin-bottom:20px;border-bottom: 1px solid #999;'>
        <a href='http://fandora.tw/'>Fandora藝術x攝影x設計</a>
        <p>lorem lorem asdads ookok ksododk</p>
    </div>
    
    <div style='padding:20px;margin-bottom:20px;border-bottom: 1px solid #999;'>
        <a href='http://icook.tw/'>iCook愛料理</a>
        <p>lorem lorem asdads ookok ksododk</p>
    </div>
    
    <hr>
    
    <a href='/'>回首頁</a>

  </body>
</html>